@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<h1>The Joel Hilton Film Collection</h1>

<div>
    <p>All the best movies, according to Joel...</p>
</div>

<img src="~/img/JoelHiltonHeadshot.jpg" height="300"/>

<br /><br />

@*<div>
    <a asp-controller="Home" asp-action="addMovie">Add a New Movie</a>
</div>*@