<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="~/img/bean-removebg-preview.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        <a asp-controller="home" asp-action="Index">Home</a>
        <a asp-controller="home" asp-action="MyPodcasts">My Podcasts</a>
        <a asp-controller="home" asp-action="addMovie">Add Movie</a>
        <a asp-controller="home" asp-action="WaitList">Wait List</a>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
